name: armTemplateDeploy

on:
  workflow_dispatch:
 
jobs:
  armDeploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Login to Azure
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Deploy Resource Group rg-githubactions
      uses: Azure/arm-deploy@v1
      with:
        scope: subscription
        subscriptionId: 1e7450d7-134c-47b5-86fa-d9b79e280ede
        region: uksouth
        template: ./resourcegroup.json
        deploymentName: rg-githubactions
