name: armTemplateDeploy

on:
  workflow_dispatch:
    
jobs:
  armrDeploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Login to Azure
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
        
    - name: Deploy Resource Group
      uses: Azure/arm-deploy@v1
      with: 
        scope: subscription 
        subscriptionId: ${{ secrets.SUBSCRIPTION_ID }}
        region: UK South
        template: ./arm-templates/resourcegroup.json
        deploymentName: rg-azure-automation
