name: armTemplateDeploy

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
 
jobs:
  armDeploy:
    runs-on: ubuntu-latest

jobs:
  armDeploy:
    -uses: actions/checkout@v2

    -name: Azure Login
     uses: azure/login@v1
     with:
       creds: ${{ secrets.AZURE_CREDENTIALS }}

    -name: Deploy Resorce Group rg-githubactions with AZ CLI
     uses: azure/CLI@v1.0.7
     with:
       azcliversion: 2.0.80
       inlineScript: |
         az group create --name rg-githubactions --location uksouth
         az group deployment sub create --location "uksouth" --template-file ./arm-template/resourcegroup.json

